<div class = "conteiner">
  <h2>
    Listado de Climas
  </h2>

  <table mat-table [dataSource]="dataSource" class = "mat-elevation-z8">
    <ng-container matColumnDef = "nombre">
      <th mat-header-cell *mathHeaderCellDef><strong>Nombre</strong> </th>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let clima"> {{clima.temperatureWeather | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="hora">
      <th mat-header-cell *matHeaderCellDef> Hora </th>
      <td mat-cell *matCellDef="let clima"> {{clima.timeWeather}} </td>
    </ng-container>

    <ng-container matColumnDef = "temperatura">
      <th mat-header-cell *mathHeaderCellDef><strong>Temperatura</strong> </th>
    </ng-container>

    <ng-container matColumnDef = "humedad">
      <th mat-header-cell *mathHeaderCellDef><strong>Humedad</strong> </th>
    </ng-container>

    <tr mat-header-cell *matHeaderRowDef = "['Nombre','Fecha','Hora','Temperatura','Humedad']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['Nombre','Fecha','Hora','Temperatura','Humedad'];"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[3, 6, 9]"
  showFirstLastButtons>
  </mat-paginator>

</div>
